<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Elogic\Forecast\Api\Data\ElogicForecastInterface"
                type="Elogic\Forecast\Model\ElogicForecast" />
    <preference for="Elogic\Forecast\Api\Data\ElogicForecastSearchResultInterface"
                type="Elogic\Forecast\Model\ElogicForecastSearchResult" />
    <preference for="Elogic\Forecast\Api\ElogicForecastRepositoryInterface"
                type="Elogic\Forecast\Model\ElogicForecastRepository" />
</config>
